<%= form_for [@inscription,@diagnostic], :html => { :class => "form-horizontal diagnostic container" } do |f| %>

    <% if @diagnostic.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@diagnostic.errors.count, "error") %> prohibited this diagnostic from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @diagnostic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="row">
  <div class="form-group col-md-3">
    <%= f.label :visit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :visit, :class => 'form-control datepicker' , :value => Date.current.to_s  %>
    </div>
    <%= error_span(@diagnostic[:visit]) %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-6">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'form-control', rows:10 %>
    </div>
    <%= error_span(@diagnostic[:description]) %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :medicament, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :medicament, :class => 'form-control', rows:10 %>
    </div>
    <%= error_span(@diagnostic[:medicament]) %>
  </div>
  </div>

  <%= button_tag(type: "submit", class: "btn btn-primary") do %>
    <i class="fa fa-check"></i>
  <% end %>
  <%= link_to  user_institution_patient_path(@user_institution,@patient), :class => 'btn btn-default' do %>
    <i class="fa fa-ban"></i>
  <%end%>

<% end %>
