<%= form_for @institution, :html => { :class => "form-horizontal institution" } do |f| %>

    <% if @institution.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@institution.errors.count, "error") %> prohibited this institution from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @institution.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>



    <div class="form-group">
      <%= f.label :name, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%= error_span(@institution[:name]) %>
    </div>
    <br>
    <br>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            institutions_path, :class => 'btn btn-default' %>

<% end %>
