<%- model_class = Institution -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<div class="container ">
<div class="row">
  <%= render :partial => 'form' %>
</div>
