<%- model_class = Institution -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @institution.name %></dd>
  <dt><strong>Patients:</strong></dt>
  <dd><table class="table table-striped">
   <thead>
     <tr>
       <th>First Name</th>
       <th>Last Name</th>
       <th>Action</th>
     </tr>
   </thead>
   <tbody>
     <%@institution.patients.each do |patient|%>
        <tr>
          <td><%= patient.first_name%></td>
          <td><%= patient.last_name %></td>
          <td><%= link_to "View",patient_path(patient), class:"btn btn-primary"%></td>
        </tr>
     <%end%>
   </tbody>
 </table>
 <%= link_to "New Patient", new_institution_patient_path(@institution), class: "btn btn-default"%></dd>
</dl>


<br>
<%= link_to t('.back', :default => t("helpers.links.back")),
              institutions_path, :class => 'btn btn-default'  %>
