<%= form_for [@inscription,@inscriptionFile], :html => { :class => "form-horizontal diagnostic container" } do |f| %>

    <% if @inscriptionFile.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@inscriptionFile.errors.count, "error") %> prohibited this file from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @inscriptionFile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="row">
  <div class="form-group col-md-3">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control'   %>
    </div>
    <%= error_span(@inscriptionFile[:name]) %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-12">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'form-control', rows:5 %>
    </div>
    <%= error_span(@inscriptionFile[:description]) %>
  </div>
  <div class="form-group col-md-12">
    <%= f.label :link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :link, :class => 'form-control', rows:3 %>
    </div>
    <%= error_span(@inscriptionFile[:link]) %>
  </div>
  </div>

  <%= button_tag(type: "submit", class: "btn btn-primary") do %>
    <i class="fa fa-check"></i>
  <% end %>
  <%= link_to  user_institution_patient_path(@user_institution,@patient), :class => 'btn btn-default' do %>
    <i class="fa fa-ban"></i>
  <%end%>

<% end %>
