
<div class="row">
  <div class="col-md-12">
    <%= form_for [@user_institution, @user_institution.inscriptions.build] do |f|%>
      <h2>Available Patients</h2>
      <div class="panel" >
          <div class="panel-heading">
            <nav class="navbar navbar-default navbar-static-top">
              <div class="container-fluid">
                <%= link_to  new_user_institution_patient_path(@user_institution), class:"btn btn-default" do %>
                  <i class="fa fa-plus"></i>
                <%end%>
              </div>
            </nav>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Select</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>DNI</th>
              </tr>
            </thead>
            <tbody>
              <% @patients.each do |patient|%>
                <%if !@user_institution.patients.include?(patient)%>
                  <tr>
                    <td><%= check_box_tag "user_institution[patient_ids][]", patient.id,false, id: dom_id(patient)%></td>
                    <td><%= patient.last_name%></td>
                    <td><%= patient.first_name %></td>
                    <td><%= patient.identification_document %></td>
                  </tr>
                <%end%>
              <%end%>
            </tbody>
          </table>
      </div>
      <%= link_to  user_institution_patients_path(@user_institution), class:"btn btn-default" do %>
        <i class="fa fa-chevron-left"></i>
      <%end%>
      <%= button_tag(type: "submit", class: "btn btn-primary") do %>
        <i class="fa fa-check"></i>
      <% end %>
      <%= link_to  new_user_institution_patient_path(@user_institution), class:"btn btn-default" do %>
        <i class="fa fa-plus"></i>
      <%end%>
    <%end%>
  </div>
</div>
