<%= form_for [@user_institution,@patient], :html => { :class => "form-horizontal patient" } do |f| %>

    <% if @patient.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
    <%= error_span(@patient[:first_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%= error_span(@patient[:last_name]) %>
    <div class="control-group">
      <%= f.label :birthdate, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_field :birthdate, :class => 'form-control' %>
     </div>
    </div>
    <div class="control-group">
      <%= f.label :identification_document, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :identification_document, :class => 'form-control' %>
     </div>
    </div>
    <div class="control-group">
      <%= f.label :marital_status, :class => 'control-label' %>
      <div class="controls ">
        <%= f.select :marital_status  do %>
          <% [["Casado/a","Casado/a"],["Soltero/a","Soltero/a"],["Divorciado/a","Divorciado/a"],["Conviviente","Conviviente"]].each  do |item|%>
              <%= content_tag(:option,item.first, value: item.last)%>
          <%end%>
        <%end%>
     </div>
     <div class="control-group">
       <%= f.label :sex, :class => 'control-label' %>
       <div class="controls ">
         <%= f.select :sex do %>
           <% [["Masculino","Masculino"],["Femenino","Femenino"]].each  do |item|%>
               <%= content_tag(:option,item.first, value: item.last)%>
           <%end%>
         <%end%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :childrens, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :childrens,in: 0..100,step:1, class:"form-control" %>
     </div>
   </div>
   <div class="control-group">
     <%= f.label :addres, :class => 'control-label' %>
     <div class="controls">
       <%= f.text_field :addres, class:"form-control" %>
    </div>
    <div class="control-group">
      <%= f.label :city, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :city, class:"form-control" %>
     </div>
    <div class="control-group">
      <%= f.label :location, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :location, class:"form-control" %>
     </div>
     <div class="control-group">
       <%= f.label :postal_code, :class => 'control-label' %>
       <div class="controls">
         <%= f.text_field :postal_code, class:"form-control" %>
      </div>
  </div>
  <div class="control-group">
    <%= f.label :personal_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.telephone_field :personal_phone, class:"form-control" %>
   </div>
 </div>
 <div class="control-group">
   <%= f.label :cell_phone, :class => 'control-label' %>
   <div class="controls">
     <%= f.telephone_field :cell_phone, class:"form-control" %>
  </div>
</div>
<div class="control-group">
  <%= f.label :occupation, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :occupation, class:"form-control" %>
 </div>
</div>
<div class="control-group">
  <%= f.label :os_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :os_name, class:"form-control" %>
 </div>
</div>
<div class="control-group">
  <%= f.label :os_identification, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :os_identification, class:"form-control", rows:10 %>
 </div>
</div>
<div class="control-group">
  <%= f.label :past, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :past, class:"form-control" %>
 </div>
</div>
<div class="control-group">
  <%= f.label :past_family, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :past_family, class:"form-control" %>
 </div>
</div>
<div class="control-group">
  <%= f.label :toxic_abit, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :toxic_abit, class:"form-control" %>
 </div>
</div>
<div class="control-group">
  <%= f.label :others, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :others, class:"form-control" %>
 </div>
</div>
  <%= button_tag(type: "submit", class: "btn btn-primary") do %>
    <i class="fa fa-check"></i>
  <% end %>
  <%if !params.include?(:id) then %>
    <%= link_to  user_institution_patients_path(@user_institution), :class => 'btn btn-default' do  %>
      <i class="fa fa-ban"></i>
    <%end%>
  <%else%>
    <%= link_to  user_institution_patient_path(@user_institution,@patient), :class => 'btn btn-default' do  %>
      <i class="fa fa-ban"></i>
    <%end%>
  <%end%>

<% end %>
