<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Las Name</th>
        <th>First Name</th>
        <th>Age</th>
        <th>Identification Document</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @patients.each do |patient|%>
        <tr>
          <td><%= patient.last_name %></td>
          <td><%= patient.first_name %></td>
          <td><%= patient.age %></td>
          <td><%= patient.identification_document %></td>
          <td><%= link_to  patient_path(patient), class:"btn btn-default",role:"button" do%>
              <span class="fa fa-eye" aria-hidden="true" ></span>
          <%end%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
