<%- model_class = Patient -%>
<div class="page-header">
  <h1 class="text-center">Patients <small>already associated with your institution</small></h1>
</div>
<div class="row">
<ul class="list-group col-md-4 col-md-offset-4">
  <% @patients.each do |patient| %>
      <% if (patient.last_name?) then %>
        <%= link_to patient.last_name  + ", " + patient.first_name    , user_institution_patient_path(@user_institution,patient), class:"list-group-item text-center"  %>
      <% else %>
        <%= link_to  patient.first_name    , user_institution_patient_path(@user_institution,patient), class:"list-group-item text-center"  %>
      <%end%>
  <% end %>
</ul>
</div>
<%= link_to  user_institutions_path, class:"btn btn-default" do %>
  <i class="fa fa-chevron-left"></i>
<%end%>
<% if (params.include?("user_institution_id")) then %>
  <%= link_to  new_user_institution_inscription_path(@user_institution), :class => 'btn btn-primary' do %>
    <i class="fa fa-plus"></i>
  <%end%>
<%else%>
  <%= link_to new_user_institution_patient_path, :class => 'btn btn-primary' do  %>
    <i class="fa fa-plus"></i>
  <%end%>
<%end%>
