<div class="page-header">
  <% if @patient.last_name? %>
    <h1><%= @patient.last_name + " " + @patient.first_name %></h1>
  <%else%>
    <h1><%= @patient.first_name %></h1>
  <%end%>
  <h1></h1>
</div>
</div>
<div class="row">
  <dl class="dl-horizontal">
    <dt><strong>First Name:</strong></dt>
    <dd><%= @patient.first_name %></dd>
    <dt><strong>Last Name:</strong></dt>
    <dd><%= @patient.last_name %></dd>
    <dt><strong>Birthdate:</strong></dt>
    <dd><%= @patient.birthdate %></dd>
    <dt><strong>Age:</strong></dt>
    <dd><%= @patient.age %></dd>
    <dt><strong>Identification Document:</strong></dt>
    <dd><%= @patient.identification_document %></dd>
    <dt><strong>Sex:</strong></dt>
    <dd><%= @patient.sex %></dd>
    <dt><strong>Email:</strong></dt>
    <dd><%= @patient.email %></dd>
    <dt><strong>Marital Status:</strong></dt>
    <dd><%= @patient.marital_status %></dd>
    <dt><strong>Address:</strong></dt>
    <dd><%= @patient.addres %></dd>
    <dt><strong>City:</strong></dt>
    <dd><%= @patient.city %></dd>
    <dt><strong>Location:</strong></dt>
    <dd><%= @patient.location %></dd>
    <dt><strong>Postal Code::</strong></dt>
    <dd><%= @patient.postal_code %></dd>
    <dt><strong>Personal Phone:</strong></dt>
    <dd><%= @patient.personal_phone %></dd>
    <dt><strong>Cell Phone:</strong></dt>
    <dd><%= @patient.cell_phone %></dd>
    <dt><strong>Occupation:</strong></dt>
    <dd><%= @patient.occupation %></dd>
    <dt><strong>OS:</strong></dt>
    <dd><%= @patient.os_name %></dd>
    <dt><strong>OS Identification:</strong></dt>
    <dd><%= @patient.os_identification %></dd>
    <dt><strong>Past:</strong></dt>
    <dd><%= @patient.past %></dd>
    <dt><strong>Family Past:</strong></dt>
    <dd><%= @patient.past_family %></dd>
    <dt><strong>Toxic Abits:</strong></dt>
    <dd><%= @patient.toxic_abit %></dd>
    <dt><strong>Others:</strong></dt>
    <dd><%= @patient.others %></dd>
  </dl>
</div>
<%= link_to  patients_path, class:"btn btn-default" do %>
  <i class="fa fa-arrow-left"></i>
<%end%>
<%= link_to  edit_patient_path(@patient), class:"btn btn-primary" do %>
  <i class="fa fa-pencil-square-o"></i>
<%end%>
