<%- model_class = Patient -%>
<div class="page-header">
  <%if (@patient.last_name?)%>
    <h1 class="text-center"><%= @patient.last_name + " " + @patient.first_name + " "%><small>deatils</small></h1>
  <%else%>
    <h1 class="text-center"><%=  @patient.first_name + " "%><small>deatils</small></h1>
  <%end%>
</div>
<div class="panel panel-primary"  >
    <div class="panel-heading" ><a role="button" data-toggle="collapse" href="#panel-details">Patient's details </a><%= link_to  edit_user_institution_patient_path(@user_institution,@patient), :class => 'btn-sm btn-default' do %>
                                                  <i class="fa fa-pencil-square-o"></i> <%end%></div>
    <div class="panel-body collapse" id="panel-details">
      <div class="col-md-6">
        <dl class="dl-horizontal">
          <dt><strong>First Name:</strong></dt>
          <dd><%= @patient.first_name %></dd>
          <dt><strong>Last Name:</strong></dt>
          <dd><%= @patient.last_name %></dd>
          <dt><strong>Birthdate:</strong></dt>
          <dd><%= @patient.birthdate %></dd>
          <dt><strong>Age:</strong></dt>
          <dd><%= @patient.age %></dd>
          <dt><strong>Identification Document:</strong></dt>
          <dd><%= @patient.identification_document %></dd>
          <dt><strong>Sex:</strong></dt>
          <dd><%= @patient.sex %></dd>
          <dt><strong>Email:</strong></dt>
          <dd><%= @patient.email %></dd>
          <dt><strong>Marital Status:</strong></dt>
          <dd><%= @patient.marital_status %></dd>
          <dt><strong>Address:</strong></dt>
          <dd><%= @patient.addres %></dd>
          <dt><strong>City:</strong></dt>
          <dd><%= @patient.city %></dd>
          <dt><strong>Location:</strong></dt>
          <dd><%= @patient.location %></dd>
          <dt><strong>Postal Code::</strong></dt>
          <dd><%= @patient.postal_code %></dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl class="dl-horizontal">
          <dt><strong>Personal Phone:</strong></dt>
          <dd><%= @patient.personal_phone %></dd>
          <dt><strong>Cell Phone:</strong></dt>
          <dd><%= @patient.cell_phone %></dd>
          <dt><strong>Occupation:</strong></dt>
          <dd><%= @patient.occupation %></dd>
          <dt><strong>OS:</strong></dt>
          <dd><%= @patient.os_name %></dd>
          <dt><strong>OS Identification:</strong></dt>
          <dd><%= @patient.os_identification %></dd>
          <dt><strong>Past:</strong></dt>
          <dd><%= @patient.past %></dd>
          <dt><strong>Family Past:</strong></dt>
          <dd><%= @patient.past_family %></dd>
          <dt><strong>Toxic Abits:</strong></dt>
          <dd><%= @patient.toxic_abit %></dd>
          <dt><strong>Others:</strong></dt>
          <dd><%= @patient.others %></dd>
        </dl>
      </div>

    </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><a role="button" data-toggle="collapse" href="#panel-files">Files</a><%= link_to  new_inscription_inscription_file_path(@inscription), class: "btn-sm btn-default" do %>
                                                <i class="fa fa-plus"></i>
                                              <%end%></div>
  <div class="panel-body collapse" id="panel-files">
      <div class="table-responsive">
          <table class="table table-stripped" >
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>link</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <%@files.each do |inscriptionFile|%>
                <tr>
                    <td><%= inscriptionFile.name %></td>
                    <td><%= inscriptionFile.description%></td>
                    <td><%= link_to "Link", inscriptionFile.link, target:"_blank" %></td>
                    <td id="actions"><%= link_to edit_inscription_inscription_file_path(@inscription,inscriptionFile), class:"btn-sm btn-default" do%>
                              <i class="fa fa-pencil-square-o"></i>
                         <%end%>
                       <%= link_to  inscription_inscription_file_path(@inscription,inscriptionFile),
                                                 :method => :delete,
                                                 :data => {:confirm => "Are you sure ?"},
                                                 :class => "btn-sm btn-danger" do %>
                           <i class="fa fa-minus"></i>
                       <%end%></td>
                </tr>
              <%end%>
            </tbody>
          </table>
      </div>
  </div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading"><a role="button" data-toggle="collapse" href="#panel-hc">Clinical History </a><%= link_to  new_inscription_diagnostic_path(@inscription), class: "btn-sm btn-default" do %>
                                                <i class="fa fa-plus"></i>
                                              <%end%></div>
  <div class="panel-body" id="panel-hc">
      <div class="table-responsive">
          <table class="table table-stripped" >
            <thead>
              <tr>
                <th>Visit</th>
                <th>Description</th>
                <th>Medicaments</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <%@diagnostics.each do |diagnostic|%>
                <tr>
                    <td><%= diagnostic.visit %></td>
                    <td><%= diagnostic.description%></td>
                    <td><%= diagnostic.medicament %></td>
                    <td id="actions"><%= link_to edit_diagnostic_path(diagnostic), class:"btn-sm btn-default" do%>
                              <i class="fa fa-pencil-square-o"></i>
                         <%end%>
                       <%= link_to  diagnostic_path(diagnostic),
                                                 :method => :delete,
                                                 :data => {:confirm => "Are you sure ?"},
                                                 :class => "btn-sm btn-danger" do %>
                           <i class="fa fa-minus"></i>
                       <%end%></td>
                </tr>
              <%end%>
            </tbody>
          </table>
      </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading"><a role="button" data-toggle="collapse" href="#panel-traces">Traces </a><%= link_to  new_inscription_trace_path(@inscription), class: "btn-sm btn-default" do %>
                                      <i class="fa fa-plus"></i>
                                      <%end%></div>
  <div class="panel-body collapse" id="panel-traces">
    <table class="table table-stripped">
      <%  if (@traces.first != nil) then %>
      <% date = @traces.first.created_at.in_time_zone("America/Argentina/Buenos_Aires").to_date  %>
         <thead>
          <th class="info" colspan="3" style="text-align:center" ><%= date.strftime("%d/%m/%Y") %></th>
         </thead>
         <% @traces.each do |trace| %>
           <% if (trace.created_at.in_time_zone("America/Argentina/Buenos_Aires").to_date > date) then %>
             <% date = trace.created_at.in_time_zone("America/Argentina/Buenos_Aires").to_date %>
             <thead>
               <th class = "info" colspan="3" style="text-align:center"><%= date.strftime("%d/%m/%Y") %></th>
             </thead>
             <tbody>
                <td><%= trace.created_at.in_time_zone("America/Argentina/Buenos_Aires").strftime('%T') %></td>
                <td><%= trace.description %></td>
                <td id="actions"><%= link_to edit_trace_path(trace), class:"btn-sm btn-default" do%>
                          <i class="fa fa-pencil-square-o"></i>
                     <%end%>
                   <%= link_to  trace_path(trace),
                                             :method => :delete,
                                             :data => {:confirm => "Are you sure ?"},
                                             :class => "btn-sm btn-danger" do %>
                       <i class="fa fa-minus"></i>
                   <%end%></td>
             </tbody>
           <% else %>
             <tbody>
                <td><%= trace.created_at.in_time_zone("America/Argentina/Buenos_Aires").strftime('%T') %></td>
                <td><%= trace.description %></td>
                <td><%= link_to edit_trace_path(trace), class:"btn-sm btn-default" do%>
                          <i class="fa fa-pencil-square-o"></i>
                     <%end%>
                   <%= link_to  trace_path(trace),
                                             :method => :delete,
                                             :data => {:confirm => "Are you sure ?"},
                                             :class => "btn-sm btn-danger" do %>
                       <i class="fa fa-minus"></i>
                   <%end%></td>
             </tbody>
           <% end %>
         <% end %>
      <%end%>
    </table>
  </div>
</div>



<br>
<br>
<%= link_to user_institution_patients_path(@user_institution), :class => 'btn btn-default'  do %>
  <i class="fa fa-chevron-left"></i>
<%end%>
