<%= form_for [@user_institution], :html => {:class => "form-horizontal"} do |f| %>


    <h2>Available Institutions</h2>

        <% Institution.all.each do |institution|%>

            <% if !@user.institutions.include?(institution) then %>
              <div class="checkbox">
                  <label>
                    <%= check_box_tag "user[institution_ids][]", institution.id,@user.institutions.include?(institution),id: dom_id(institution)%>
                    <%= institution.name %>
                  </label>
              </div>
            <%end%>
        <%end%>


  <br>
  <%= button_tag(type: "submit", class: "btn btn-primary") do %>
    <i class="fa fa-check"></i>
  <% end %>
  <%= link_to  user_institutions_path, class:"btn btn-default" do  %>
    <i class="fa fa-ban"></i>
  <%end%>
<%end%>
