<div class ="container">
  <div class = "row">
    <div class="col-md-7">
    <table class="table">
      <thead>
        <tr>
          <th>Institution Name </th>
          <%if @one_can_delete%>
          <th>Actions</th>
          <%end%>
        </tr>
      </thead>
      <tbody>
        <% @list.each do |user_institution|%>
          <tr>
            <td><%= link_to user_institution.institution.name, user_institution_patients_path(user_institution), class:"btn btn-default btn-block" %></td>
            <%if (user_institution.can_delete)%>
            <td><%= link_to  user_institution_path(user_institution.id),
                                      :method => :delete,
                                      :data => {:confirm => "Are you sure ?"},
                                      :class => "btn btn-danger" do %>
                <i class="fa fa-minus"></i>  
            <%end%></td>
           <%end%>
          </tr>
        <%end%>
     </tbody>
   </table>
   <%= link_to new_user_institution_path(@user), class:"btn btn-primary" do %>
   <i class="fa fa-plus"></i>
   <%end%>
 </div>
 </div>
</div>
