/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 *
 */
body{
 background: -webkit-linear-gradient(#99CCFF, #7AA3CC); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(#99CCFF, #7AA3CC); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(#99CCFF, #7AA3CC); /* For Firefox 3.6 to 15 */
 background: linear-gradient(#99CCFF, #7AA3CC)	; /* Standard syntax */
 background-repeat: no-repeat;
}
