<%= form_for [@inscription,@trace], :html => { :class => "form-horizontal trace" } do |f| %>

    <% if @trace.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@trace.errors.count, "error") %> prohibited this trace from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @trace.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'form-control', rows: 10 %>
    </div>
    <%= error_span(@trace[:description]) %>
  </div>
  <%= button_tag(type: "submit", class: "btn btn-primary") do %>
    <i class="fa fa-check"></i>
  <% end %>
  <%= link_to  user_institution_patient_path(@user_institution,@patient), :class => 'btn btn-default' do %>
    <i class="fa fa-ban"></i>
  <%end%>

<% end %>
